<!DOCTYPE html>
<html>
  <head>
    <title>Articlelisting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-zinc-900 max-w-xl mx-auto">
    <header class="app-header pt-8 pb-5 px-6">
      <h1 class="text-3xl font-bold">Item Listing</h1>
    </header>
    <main class="bg-[#F5F7F9] px-6 pt-4 pb-10 min-h-screen">
      <%= yield %>
    </main>
  </body>
</html>
